
#metrochart {
    background-color: #ddd;
}



.node {
    fill: #eee;
    stroke: #111;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 4px;
    opacity: 100;
    fill: none;
}

.line50 {
    stroke: #008000;
}

.line51 {
    stroke: #ff8000;
}

.line53 {
    stroke: #ff0000;
}

.line54 {
    stroke: #ffff00;
}



