
#metrochart {
    background-color: #ddd;
    width: 1000px;
    height: 800px;
}


.node {
    fill: #f8f8f8;
    stroke: #111;
    stroke-width: 2px;
}

.node:hover {
    fill: #d8d8d8;
    stroke: #000;
    stroke-width: 3px;
}

.link {
    stroke: #777;
    stroke-width: 3px;
    opacity: 1.0;
    fill: none;
}

.line50 {
    stroke: #008000;
}

.line51 {
    stroke: #ff8000;
}

.line53 {
    stroke: #ff0000;
}

.line54 {
    stroke: #ffff00;
}



